extends ../layouts/main-layout.pug

block styles 
    link(rel='stylesheet', href='/css/game.css')

block content
    main
        form.game-form(action='/admin/add-game', method='POST')
            .form-control
                label(for='title') Game Title
                input(type='text', name='title')#title
                label(for='imageUrl') Cover Image
                input(type='text', name='imageUrl')#imageUrl
                label(for='genre') Genre
                input(type='text', name='genre')#genre
                label(for='price') Price
                input(type='text', name='price', step='0.01')#price
                label(for='description') Description
                textarea(name="description", rows="5")#description
            button.btn(type='submit') Add Game
