.game-form{
    width: 30rem;
    max-width: 90%;
    margin: auto;
}

.form-control{
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input{
    border: 1px solid;
    font: inherit;
    border-radius: 3px;
    width: 50%;
}

button{
    font: inherit;
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: rgb(22, 139, 94);  
    color: black;
}

.game-item {
    width: 20rem;
    max-width: 95%;
}

.game__title {
    font-size: 1.2rem;
    text-align: center;
}

.game__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.game__description {
    text-align: center;
}