.game-form{
    width: 30rem;
    max-width: 90%;
    margin: auto;
}

.form-control{
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
}

.form-control input,
.form-control textarea{
    margin-bottom: 0.5rem;
    border: 2px solid black;
    font: inherit;
    border-radius: 3px;
    width: 100%;
}

.form-control input:focus,
.form-control textarea:focus{
    outline: none !important;
    border-color: rgb(22, 139, 94);
    box-shadow: 0 0 3px rgb(22, 139, 94);
}

button{
    font: inherit;
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: rgb(22, 139, 94);  
    color: black;
}

.game-item {
    width: 20rem;
    max-width: 95%;
}

.game__title {
    font-size: 1.2rem;
    text-align: center;
}

.game__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.game__description {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.game__genre {
    padding-top: 25px;
    padding-bottom: 0px;
    text-align: center;
}

.game__image img {
    width: 20%;
    margin: 1rem;
}